/* Importando */
@import url(../fonts/flaticon-2/flaticon.css);
@import url(../fonts/icones/flaticon.css);

/* Negrito */
.negrito {
  font-weight: bold;
}
/* Menu */
.main-menu .nav-link {
  font-weight: bold !important;
}
/* Body */
body {
  background: #f5f5f5 !important;
}
/* Cores */
.cor-cinza {
  color: #d6d6d6;
}
.text-primario {
  color: #0960aa;
}
/* Bgs */

.bg-cinza {
  background: #f2eded !important;
}
.bg-primario {
  background: #0960aa !important;
}
.bg-primario-leve {
  background: #32dbc6;
}
/* Gradientes */
.bg-gradiente-1 {
  background: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(#32dbc7),
    to(#0960aa)
  ) !important;
}

/* Carousel */
.lide-one-item {
  height: 700px;
}
.slider-photo {
  height: 700px !important;
  width: 100% !important;
  background-image: -webkit-gradient(
      linear,
      right top,
      left bottom,
      from(#00000071),
      to(#00000071)
    ),
    url(../img/banner/slider.jpg);
  background-size: 100% 90%;
  background-position: bottom;
}
.slider-photo-2 {
  height: 700px !important;
  width: 100% !important;
  background-image: -webkit-gradient(
      linear,
      right top,
      left bottom,
      from(#00000071),
      to(#00000071)
    ),
    url(../img/banner/slider-2.jpg);
  background-size: 100% 90%;
  background-position: bottom;
}
.banner {
  height: 700px;
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(
      linear,
      right top,
      left bottom,
      from(#00000071),
      to(#00000071)
    ),
    url(../img/banner/slider.jpg);
  background-attachment: fixed;
}
.banner .content {
  position: relative;
  top: 320px;
  height: 220px;
  background: rgba(0, 0, 0, 0.582) !important;
}

/* Banner Promocional */
.banner-promocional {
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(
      linear,
      right top,
      left bottom,
      from(#00000071),
      to(#00000071)
    ),
    url(../img/fundo.jpg);
}

/* Anuncios */
.anuncios {
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-gradient(
      linear,
      right top,
      left bottom,
      from(#000000c9),
      to(#000000c9)
    ),
    url(../img/fibra.jpg);
}
